body {
    margin: 0;
    color: white;
    font-family: Helvetica;
    font-size: 3em;
    font-weight: bold;
}

.container {
    display: flex;
    overflow: hidden;
}

p {
    margin: 0.3em;
    text-shadow: 4px 4px 4px black;
    -webkit-text-stroke: 2px black;
    /*adds an animation to the transform -> text slides in / out*/
    transition: transform .5s, font-size .5s;
    /* 
    flex-grow: how much the iten will grow relative to the other items
    flex-shrink: how much the item will shrink relative to the other items
    flex-basis: length of the item
    (initial: 0 1 auto)
    */
    flex: 1 0 auto;
    /* another nested flex container to center the text*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel p:nth-child(2) {
    font-size: 1.2em;
}

/*puts every first & last p inside of the panels above the screen*/

.panel p:first-child {
    transform: translateY(-100%);
}

.panel p:last-child {
    transform: translateY(100%);
}

/*puts every first &last p inside of the panels back to it's normal position*/

.panel.open p:first-child {
    transform: translateY(0);
}

.panel.open p:last-child {
    transform: translateY(0);
}

.panel.open p:nth-child(2) {
    font-size: 2em;
}

.panel {
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: flex .5s;
}

.panel.open {
    flex: 4;
}

#panel1 {
    background-color: red;
    background-image: url(images/panel1.jpg);
}

#panel2 {
    background-color: blue;
    background-image: url(images/panel2.jpg);
}

#panel3 {
    background-color: green;
    background-image: url(images/panel3.jpg);
}

#panel4 {
    background-color: yellow;
    background-image: url(images/panel4.jpg);
}

#panel5 {
    background-color: violet;
    background-image: url(images/panel5.jpg);
}